@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*, *::before, *::after {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #614f4b;
}

#canvas {
    border: 21px solid #4da1c4;
}

.score-wrapper {
    text-align: center;
    position: relative;
 }

.score {
    font-family: "Madimi One", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 48px;
    color: #FEF3E8;
    margin: 0;
    padding: 0;
}

.best-score-wrapper {
    display: none;
    position: absolute;
    right: 0;
    bottom: 7px;
    font-family: "Madimi One", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
    color: #cbc2b9;
}

.best-score-wrapper.is-visible {
    display: block;
}
